@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #669ccb;
  --primary-color-dark: #5681a7;
  --secondary-color: #e8f1fa;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #f3f4f6;

  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.section__container {
  padding: 3rem 1rem;
  max-width: var(--max-width);
  margin: auto;
}

.section__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color-dark);
  margin-bottom: 2rem;
  text-align: center;
}

img {
  width: 100%;
}

body {
  font-family: "Raleway", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav__logo a {
  text-decoration: none;
  color: var(--extra-light);
  font-size: 1.5rem;
}

.nav__links a {
  text-decoration: none;
}

.nav__links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.link {
  color: var(--extra-light);
  cursor: pointer;
  transition: 0.3s;
}

.link:hover {
  color: var(--text-light);
}

header {
  height: 100vh;
  background-size: cover;
  background-image: linear-gradient(
      rgba(45, 92, 132, 0.5),
      rgba(45, 92, 132, 0.5)
    ),
    url(assets/wallpaper.jpg);
}

header .section__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--extra-light);
}

.header__content h1 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 5rem;
}

.header__content p {
  text-align: center;
  font-weight: 500;
}

.embroidery__container {
  background-color: var(--secondary-color);
}

.crochet__container {
  background-color: var(--extra-light);
}

.grid__gallery {
  display: flex;
  gap: 0.5rem;
}

.grid__column {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.grid__image {
  width: 100%;
  object-fit: cover;
}

.about__portrait {
  width: 100%;
}

.about__description {
  padding: 1rem 0;
}

.about__description h4 {
  color: var(--primary-color);
}

.about__description p {
  margin-top: 0.5rem;
}

footer {
  background-color: var(--text-dark);
  color: var(--secondary-color);
}

footer .section__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.social__icons i {
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

footer a {
  text-decoration: none;
  color: var(--secondary-color);
}

footer p {
  font-size: 0.9rem;
}

@media (min-width: 640px) {
  nav__links {
    display: flex;
  }

  header .section__container {
    justify-content: flex-start;
  }

  .header__content {
    max-width: 400px;
    align-items: flex-start;
  }

  .header__content p {
    text-align: left;
  }
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .grid__gallery {
    flex-direction: column;
  }

  header {
    background-position: calc(50% + 100px) center; /* Translate 30px to the left */
  }
}
